/* ===== Stylesheet Formatting Guide ======================================== */

/*
- Position
- Display and Box Model
- Color
- Text
- Other */

/* ===== Website Stylesheets ================================================ */

.main {
    /* Display and Box Model */
    padding-left: 20%;
    padding-right: 20%;
}

/* ===== Header ============================================================= */

.header_name {
    /* Text */
    text-align: center;
}

.header_table {
    /* Position */
    width: 100%;
    /* Other */
    table-layout: fixed;
}

.header_table_cell_right {
    /* Text */
    text-align: right;
}

/* ===== Skills and Education =============================================== */

/* ===== Work Experience ==================================================== */

/* ===== Projects =========================================================== */

/* ===== Bottom Portion ===================================================== */
